.eb-cia-wrapper {
	background-repeat: no-repeat;
	background-size: cover;
}
.eb-cia-upload-button {
	height: 100px;
	width: 100%;
	background: #e3e3e3;
	color: #666666;
	display: inline-block;
}

.eb-cia-button-wrapper a {
	line-height: inherit;
}

// Typography style
.eb-typography-base div {
	display: flex;
	justify-content: space-between;
}
